<meta charset="UTF-8">
<title>
  <%= metaTitle %>
</title>
<meta name="description" value="<%= metaDesc %>">
<meta name="keywords" value="<%= metaKeywords %>">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- build:css /assets/css/vendor.min.css -->
<link rel="stylesheet" href="bower_components/reset-css/reset.css">
<!-- endbuild -->
<link rel="stylesheet" href="/assets/css/main.css">
